.job-page-container {
  max-width: 1500px;
  margin-left: 0;
  padding: 24px;
  display: flex;
  gap: 32px;
}

.categories-section {
  width: 366px;
  height: 950px;
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 20px;
  padding: 24px;
  margin-left: 0;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.category-item {
  width: 150px;
  height: 145px;
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.category-item.selected {
  --blur: 1.75rem;
  --box-blur: calc(0.5 * var(--blur));
  --color: #D8BFD8;
  
  border: 2px solid var(--color);
  box-shadow: 0 0 var(--box-blur) var(--color), 0 0 var(--blur) rgba(216, 191, 216, 0.5);
  filter: brightness(110%);
}



.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

.search-container {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
  justify-content: flex-end;
  width: 100%;
}

.search-bar {
  width: 500px;
  height: 45px;
  background: #D9D9D9;
  border: none;
  border-radius: 25px;
  padding: 0 24px;
  font-size: 16px;
  flex-grow: 1;
}

.filter-button {
  width: 160px;
  height: 45px;
  background: #D9D9D9;
  border: none;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.jobs-grid {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 50px;
  justify-content: start;
}

@media (max-width: 1400px) {
  .jobs-grid {
    grid-template-columns: repeat(2, 300px);
  }

  .search-bar {
    width: 70%;
  }

  .filter-button {
    width: 56px;
    height: 56px;
  }

  .categories-section {
    width: 100%;
    margin-left: 0;
  }

  .search-container {
    justify-content: space-between;
  }
}
